<div class="container">
	<div class="row row-centered">
		<div class="col-md-8 col-centered">


			<h1>Notificaciones en devise con Jquery y SCSS </h1>
			<p><strong>Repo en Github:  <a href="https://github.com/dgattoni/deviseNotification">https://github.com/dgattoni/deviseNotification</a></strong> </p>


			<p>
				A todos nos ha pasado que cuando construimos nuestras aplicaciones, por lo general  enfocamos toda nuestra energía y tiempo en las funcionalidad core y  muchas veces olvidas o dejas para última hora esos pequeños -pero no menos importantes- detalles que mejoran la experiencia del usuario cuando interactúa con la aplicación.

				El objetivo del tutorial es  darle un estilo más "elegante" a las notificaciones y alerts de Devise con SCSS y la archi famosa librería de Javascript: Jquery.
			</p>



		</div>
	</div>
</div>